<!DOCTYPE html>
<html>


<body>



  <div class="container-fluid">
    <div class="row">
      <div class="col-3">
        {{> leftColumn}}
      </div>



      <div class="center-section col-9 mt-3">
        <div class="row">
          <div class="active-user col-3" style="border: #E6ECF0 1px solid;hight:100%;">
            <div class="active-user-title py-1"
              style="font-size: 18px;line-height: 26px;color: #1C1C1C;font-weight:bold;">
              上線使用者
            </div>

          </div>
          <div class="public-chatroom col-9" style="border: #E6ECF0 1px solid;">
            <div class="public-chatroom-titles" style="font-size: 18px;color: #1C1C1C;font-weight:bold;">
              公開聊天室
            </div>
            <div class="public-chatroom-content" style="border: #E6ECF0 1px solid;hight:500px;width:500px;">66555</div>

            <ul id="messages"></ul>
            <form id="form" action="">
              <input id="msg" autocomplete="off" /><button class="btn">Send</button>
            </form>

            <div class="public-chatroom-typing d-flex justify-content-between"
              style="border: #E6ECF0 1px solid;width:100%;">
              <form id="form" action=""></form>
              <label for="msg">
                <textarea name="msg" id="msg" cols="12" rows="2"
                  style="border: none;height:30px;width:550px; background-color: #F5F8FA;border-radius: 20px"></textarea>
              </label>
              <div class="submit-section btn"><i class="fas fa-paper-plane" style="color:#FF6600"></i></div>
            </div>

          </div>
        </div>
      </div>



    </div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();

    var messages = document.getElementById('messages');
    var form = document.getElementById('form');
    var msg = document.getElementById('msg');

    form.addEventListener('submit', function (e) {
      e.preventDefault();
      if (msg.value) {
        socket.emit('chat message', msg.value);
        msg.value = '';
      }
    });

    socket.on('chat message', function (msg) {
      var item = document.createElement('li');
      item.textContent = msg;
      messages.appendChild(item);
      window.scrollTo(0, document.body.scrollHeight);
    });

  </script>
</body>

</html>